*{
    font-family: 'Roboto', cursive;
border: 1px solid red;
padding: 0;
margin: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    height: 80px;
    width: 1000px;
    padding: 1%;
    color: white;
    box-shadow: 5px 5px black;

}

.left-side{
font-style: bold; 

}

.right-side{
    display: flex;
    align-items: center;
}

.nav-links
{
   
   text-decoration: none;
   color: white;
   list-style-type: none;
   justify-content: space around;
}

li
{
  list-style: none;  
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
}

li a{ color:white;
    text-decoration:none

}
a:hover,a:active {
    color:black;
    background-color: white;
    text-decoration: underline;
    font-weight: 700;
    transform: scale(1.4);
}

.btn{
    background-color: teal;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 5px 5px black;
    }

.card{
    border: 1px solid gray; 
    margin: 20px 0;
    height:220px;
    width: 480px;
}
.top-of-card{
    height: 25%;
    background-color: rgb(58, 158, 158);
}

.icon{
    width: 60px;
    left: 10px;
    top: -35px;
    position: relative;
}

.card-info{
    left: 10px;
    top: -30px;
    position: relative;
}

